<p id="notice"><%= notice %></p>

<div class="title">
  <span></span>
  <h2><%= @theme.title %></h2>
  <span></span>
</div>

<p class="description"><%= @theme.description %></p>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
