<div class="element page-title">
    <span></span>
    <h2 class="text title"><%= @author.firstname + " " + @author.lastname %></h2>
    <span></span>
</div>
<div class="edit-box">
  <%= link_to 'Modifier', edit_author_path(@author), class:"edit-button"%>
</div>


<div class="container content-box">
  <div class="row">
    <div class="col-md-3 offset-md-1 author-box ">
      <div class="image-box">
        <%= image_tag @author.portraitURL %> 
      </div>
      <div class="birth-box">
        <p class="text-info place-text"></p>
        <div class="black-box date-box">
          <p class="text subtitle-text"><%= @author.birthdate.to_s + " - " + @author.deathdate.to_s %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 offset-md-1 arts-box">
      <div class="title-box">
        <h2 class="text bigtitle-text">REALISATION</h2>
        <p class="text subtitle-text available-art"><%= @author.arts.count.to_s + " Oeuvres disponible" %></p>
      </div>
      <div class="art-items-box row">
        <% @author.arts.each do |art| %>
            <div class="art-item image-box col-lg-4 col-md-6 ">
              <%= link_to art_path(art) do %>
                <%= image_tag art.images %>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<footer> 
    <%= link_to 'RETOUR'.html_safe , root_path, class: "button white-button"%>
</footer>


