<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @author.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @author.lastname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @author.birthdate %>
</p>

<p>
  <strong>Deathdate:</strong>
  <%= @author.deathdate %>
</p>

<p>
  <strong>Birthplace:</strong>
  <%= @author.birthplace %>
</p>

<p>
  <strong>Deathplace:</strong>
  <%= @author.deathplace %>
</p>

<p>
  <strong>Portraiturl:</strong>
  <%= @author.portraitURL %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
