<%= simple_form_for @art do |f| %>
  <%= f.input :title, required: true %>
  <%= f.input :description %>
  <%= f.input :date %>

  <%= f.input :images %>

  <%= f.association :author, required: false %>
  <p>Vous ne trouvez pas votre auteur, <%= link_to "Ajoutez le", new_author_path %></p>
  <%= f.association :theme %>


  <%= f.button :submit, class:"black-button button" %>
<% end %>