<div class="element page-title">
    <span></span>
    <h2 class="text title"><%= @art.title %></h2>
    <span></span>
</div>

<div class="edit-box">
  <%= link_to 'Modifier', edit_art_path(@art), class:"edit-button"%>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="content-box col-md-10">
      <div class="image-box">
        <%= image_tag @art.images %>
      </div>

      <p class="art-desc"><%= @art.description %></p>
      
      <% if @art.author %>
        <p class="art-author"><%= link_to (@art.author.firstname + " " + @art.author.lastname) , author_path(@art.author) %></p>
      <% end %>
      <p class="art-date text"><%= @art.date %></p>

    </div>
  </div>
</div>


<footer> 
    <%= link_to 'RETOUR'.html_safe , root_path, class: "button white-button"%>
</footer>